* {
  box-sizing: border-box;
}
body {
  background-color: #ccbba1;
  font-family: Helvetica, sans-serif;
}
button {
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  outline: none;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}
input {
  padding: 8px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: normal;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}
#background {
  z-index: -2;
}
#main {
  z-index: -1;
}
#ship {
  z-index: 0;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
/** A. ====== PlayView ====== **/
.main-view {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  height: 360px;
}
/* Loading */

.loading {
  text-align: center;
  background-color: #ffffff;
  color: #3d3d3d;
  font-size: 25px;
  height: 100%;
  padding-top: 22%;
}
.loading p {
  font-weight: bold;
}
/* Menu option */
.menu-option {
  display: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #414141;
  height: 100%;
  padding-top: 15%;
  text-align: center;
}
.menu-option input {
  text-align: center;
}
.menu-option button {
  background-color: #107c34;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.menu-option button:disabled,
.menu-option button[disabled] {
  color: #ffffff;
  font-weight: normal;
  background-color: #a5beab;
}

.menu-option p {
  cursor: pointer;
  font-size: 16px;
}
.menu-option p:hover {
  color: #c1e769;
}

/* Score */
.score {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #c1e769;
  font-weight: bold;
  cursor: default;
  display: none;
}
/* Pause game */
.pause-game {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.pause-game button {
  font-size: 16px;
  padding: 4px 6px;
}
/* Game over */
.game-over {
  text-align: center;
  margin-top: 20%;

  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  cursor: default;
  display: none;
}
.game-over button {
  font-size: 20px;
  border: 2px solid #ffffff;
}
