* {
  box-sizing: border-box;
}
body {
  background-color: #ccbba1;
  font-family: Helvetica, sans-serif;
}
button {
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  outline: none;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}
input {
  padding: 8px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
ul li {
  margin-top: 20px;
  padding: 4px 10px;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}
#background {
  z-index: -2;
}
#main {
  z-index: -1;
}
#ship {
  z-index: 0;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
/** A. ====== PlayView ====== **/
.view {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  height: 360px;
}
/* Loading */

.loading {
  text-align: center;
  background-color: #ffffff;
  color: #3d3d3d;
  font-size: 25px;
  height: 100%;
  padding-top: 22%;
}
.loading p {
  font-weight: bold;
}
/* Menu option */
.menu-option {
  display: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #414141;
  height: 100%;
  padding-top: 15%;
  text-align: center;
}
.menu-option input {
  text-align: center;
}
.menu-option button {
  background-color: #107c34;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.menu-option button:disabled,
.menu-option button[disabled] {
  color: #ffffff;
  font-weight: normal;
  background-color: #a5beab;
}
.menu-option button#btn-view-high-score {
  background-color: #da6e2f;
  padding: 2px 4px;
  font-size: 16px;
  font-weight: normal;
}
.menu-option button#btn-view-high-score:hover {
  font-weight: bold;
}

/* HighScore */
.high-score {
  display: none;
  color: #ffffff;
  background-color: #414141;
  height: 100%;
  padding-top: 20px;
}
.high-score ul {
  height: 250px;
  max-height: 280px;
  overflow-y: scroll;
  margin: auto;
  width: 300px;
  max-width: 350px;
  padding: 0;
}
.high-score ul li {
  display: block;
  width: 300px;
  max-width: 350px;
  background-color: #21b154;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
}

.high-score ul li:hover {
  background-color: #c1e769;
  color: #000000;
}

.high-score ul li b,
.high-score ul li font,
.high-score ul li span {
  margin: 0;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

.high-score ul li font {
  width: 180px;
  max-width: 200px;
}
.high-score ul li b {
  width: 25px;
  max-width: 35px;
  font-size: 14px;
}

.high-score div {
  text-align: center;
}

/* Score */
.score {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #c1e769;
  font-weight: bold;
  cursor: default;
  display: none;
}
/* List weapons */
.list-weapon {
  position: absolute;
  left: 4px;
  bottom: 25%;
  display: none;
}

.list-weapon .weapon {
  margin-bottom: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
.list-weapon .weapon-active {
  border: 2px solid #21b154;
}
/* Pause game */
.pause-game {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.pause-game button {
  font-size: 16px;
  padding: 4px 6px;
}
/* Game over */
.game-over {
  text-align: center;
  margin-top: 20%;

  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  cursor: default;
  display: none;
}
.game-over button {
  font-size: 20px;
  border: 2px solid #ffffff;
}

.game-over p i {
  font-weight: normal;
  font-size: 14px;
}
/* Game exit */
.confirm-exit {
  display: none;
  text-align: center;
  margin-top: 20%;

  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  cursor: default;
}
